.users-containter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8em 0;
}

.inputs{
    margin-right: 20px;
}

.seller {
    display: flex;
    margin: 2em 0;
    justify-content: center;
}
.seller p{
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

.seller div {
    margin-right:1em;
}

.seller h4{
    font-family: "Shadows Into Light", cursive;
    margin: 0;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.seller img{
    max-width: 200px;
}